<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Menu page</title>
</head>
<body>
    <h1> Choose one of the options given below: </h1><h3>
    <a href="{{url_for('dashboard_normal')}}"> Click here to add normal notes. </a><br>
    <a href="{{url_for('dashboard')}}"> Click here to add encrypted notes. </a><br>
    <a href="{{url_for('logout')}}">Logout</a></h3>
</body>
</html>